DB_Connection_String = Connection string for MongoDB database, e.g., mongodb+srv://username:password@cluster.mongodb.net/database

PORT =  Port number for the backend server to listen on, e.g., 8080

JWT_SECRET_KEY = some secret key for JWT signing e.g., my_jwt_secret

Frontend_Origin = The origin URL of your frontend application, e.g., http://localhost:5173
