DB_Connection_String = Connection string for MongoDB database, e.g., mongodb+srv://username:password@cluster.mongodb.net/database

PORT =  Port number for the backend server to listen on, e.g., 8080

JWT_SECRET_KEY = some secret key for JWT signing e.g., my_jwt_secret

Frontend_Origin = The origin URL of your frontend application, e.g., http://localhost:5173

REDIS_URL = redis://red-xxxxxxxxxxxxxxxxxxxx:6379 
# --->when deploying to production, use the Redis URL provided by your hosting service, use http://localhost:6370 for local development

EMAIL_USER=your-email@gmail.com

EMAIL_PASS=your-google-app-password

EMAIL_HOST=	smtp.gmail.com

EMAIL_PORT=	587

EMAIL_FROM=	"FusionNode" <your-email@gmail.com>

CLOUDINARY_CLOUD_NAME= your_cloud_name

CLOUDINARY_API_KEY= your_api_key

CLOUDINARY_API_SECRET= your_api_secret